$accent: #a79f94;
$default: #1a1a1a;
$title: #243f4d;
$bg: #fef7f0;
$form: #436372;

%Rubik-400 {
  font-family: 'Rubik-Regular',
  sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik-Medium',
  sans-serif;
  font-weight: 500;
}

%DMSans-400 {
  font-family: 'DMSans-Regular',
  sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans-Medium',
  sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans-Bold',
  sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}