@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner-logo {
    display: flex;
    align-items: center;
  }
  .logo-figure{
    margin-right: 15px;
  }
}

.menu{
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $title;
    font-weight: 700;
  }
  &__list-link-plus::after{
    content: ('+');
    padding-left: 5px;
  }
}

.user-nav {
  display: flex;
  position: relative;
  &__link {
    position: relative;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -13px;
    font-size: 12px;
    color: #000;
    text-align: center;
  }
  &__selected-items {
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    background-color: #fcd7b6;
    align-items: center;
    border-radius: 50px;
  }
  &__selected-items--line {
    border-left: 1px solid #fde7d3;
    height: 32px;
  }
  &__link-search {
    display: flex;
    padding: 25px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__link-menu {
    margin-left: 20px;
  }
  &__link-circle{
    position: relative;
  }
  &__circle-img {
    position: relative;
  }
  &__elipse-img{
    position: absolute;
    top: 19px;
    right: 19px;
  }
}

.footer-top{
  padding: 70px 0 70px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  vertical-align: middle;
  &__item-form,
  &__item a{
    font-size: 14px;
  }
  &__logo{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .logo-figure{
    margin-right: 15px;
  }
  &__contact{
    width: 265px;
    margin-right: 30px;
  }
  &__nav{
    width: 265px;
    margin-right: 30px;
    padding-top: 20px;
  }
  &__item-form{
    max-width: 265px;
    padding-top: 20px;
  }
  &__adress,
  &__phone,
  &__email{
    margin-bottom: 20px;
    display: block;
  }
  &__title{
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__link{
    margin-bottom: 20px;
    display: block;
  }
  &__text{
    margin-bottom: 35px;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: $bg;
    padding: 15px;
    list-style: none; 
  }
  &__form-btn{
    padding: 15px 15px;
    border: none;
    background-color: #a3bbc8;
    cursor: pointer;
    list-style: none;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  &__accept a{
    font-size: 14px;
  }
  &__links{
    display: flex;
  }
}

.footer-bottom__test:not(:last-child)::after{
  content: ('|');
  padding-left: 15px;
  padding-right: 15px;   
}

.top{
  &__container{
    background-color: #eee;
    padding: 30px 0 30px;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    line-height: 24px;
    @extend %Rubik-400;
    margin-bottom: 15px;
  }
}

.top-slider{
  background-color: #fcd7b6;
  padding-top: 65px 0 45px;
  &__content {
    max-width: 700px;
    padding-top: 200px;
  }  
  &__title{
    max-width: 500px;
    color: $title;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__text{
    max-width: 360px;
    color: $title;
    font-size: 18px;
    margin-bottom: 65px;
  }
  &__img{
    padding-top: 95px;
  }
  &__link{
    padding: 25px 20px;
    color: #fff;
    background-color: #a3bbc8;
    @extend %DMSans-700;
    &::after{
      content: '\2192';
      color: #fff;
      padding-left: 60px;
      font-size: 30px;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: -70px;
  li{
    button{
      border-radius: 50%;
      border: none;
      padding: 3px 11px;
      margin: 0 5px 45px;
      font-size: 11px;
      background-color: #f8e2cc;
    }
    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  } 
}

.support{
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  padding: 40px 120px;
  &__item-content{
    padding: 0 20px;
  }
  &__item{
    display: flex;
  }
  &__item-title{
    margin-bottom: 10px;
  }
  &__item-text{
    width: 250px;
  }
}

.categories{
  background-color: #fff;
  &__title{
    margin: 70px 0 35px;
    font-size: 36px;
    color: #191919;
    text-align: center;
    @extend %DMSans-700;
  }
  &__links{
    text-align: center;
    margin-bottom: 80px;
  }
  &__link{
    margin: 0 15px 0;
    color: #8b8b8b;
    @extend %DMSans-700;
  }
  &__link:hover{
    color: #191919;
    @extend %DMSans-700;
  }
}

.products{
  display: grid;
  min-height: 270px;
  min-width: 380px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 180px;
  &__item{
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    @extend %DMSans-700;
    color: $title;
    margin-bottom: 15px;
    position: relative;
  }
  &__layer{
    position: absolute;
    margin: 160px 50px;
  }
  &__button{
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: none;
    background:transparent;
  }
  &__item:hover button {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 1s;
  }
  .products__button:hover {
    background-color: #ddeff8;
  }
  &__icon{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 70px;
  }
  &__info{
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
  }
  &__price{
    color: #a3bbc8;
  }
}

.container-lighting__items{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.lighting{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  
  &__items-left{
    width: 850px;
    height: 386px;
    padding-right: 15px;
    position: relative;
    background-color: #feefe2;
    align-items: center;
  }
  &__items-right {
    width: 850px;
    height: 386px;
    padding-left: 15px;
    position: relative;
    background-color:#feefe2;
  }
  &__item{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
  &__item-img{
    position: absolute;
    top: -20%;
    right: 55%;
  }
  &__title{
    width: 250px;
    line-height: 30px;
    font-size: 26px;
    color: $title;
    margin-bottom: 20px;
  }
  &__text{
    width: 290px;
    color: #243f4d;
    margin-bottom: 50px;
  }
  &__item-btn {
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 25px 20px;
    color: #436372;
    @extend %DMSans-700;
    &::after {
      content: '\2192';
      color: #436372;
      padding-left: 60px;
      font-size: 30px;
    }
  }
}

.video-fashion{
  background-color: $bg;
  background-image: url('../images/video-fashion/video.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &__inner{
    height: 500px;
    width: 100%;
  }
  &__popup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
  } 
}

.new-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  margin-bottom: 115px;
  &__item{
    background-color: #eee;
    height: 245px;
    width: 370px;
    position: relative;
    overflow: hidden;
  }
  &__info{
    margin: 40px 35px;
  }
  &__title{
    width: 160px;
    font-size: 16px;
    line-height: 22px;
    @extend %DMSans-700;
    color: $title;
    margin-bottom: 10px;
  }
  &__img{
    position: absolute;
    right: 40px;
    bottom: 45px;
    object-fit: cover;
    transform: translate(35%, 7%);
  }
  .armchair .new-products__img{
    margin-right: 35px;
  }
}

.blog{
  padding-top: 115px;
  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    .subtitle{
      font-weight: bold;
    }
    .subtitle::after{
      content: '>';
      padding-left: 10px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  &__item{
    max-width: 370px;
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));
    position: relative;
    background-color: #fff;
  }
  &__item-imglink {
    display: block;
    img{
      height: 250px;
      object-fit: cover;
    }
  }
  &__item-title{
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
  }
  &__item-box{
    padding: 30px 30px;
  }
  &__item-info{
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #222933;
    .blog__item-autor{
      margin-right: 40px;
    }
  }
  &__item-link{
    color: #fff;
    background-color: #a3bbc8;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
    margin-left: 27px;
    position: absolute;
    margin-top: -22px;
  }
}

.client{
  background-color: #fef7f0;
  margin-top: -179px;
  z-index: -1;
  &__logo{
    display: flex;
    justify-content: space-between;
    padding: 260px 50px 90px;
  }
}

.breadcrumbs{
  display: flex;
  justify-content: center;
  &__item{
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    padding-right: 7px;
    &::after {
      content: '/';
      padding-left: 3px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  } 
}

.modal{
  padding-top: 115px;
  max-width: 470px;
  margin: 0 auto 120px;
  &__label{
    display: block;
    font-size: 14px;
    color: $form;
    margin-bottom: 30px;
  }
  &__input{
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 13px;
    height: 50px;
    padding: 0 15px;
  }
  &__errer{
    font-size: 14px;
    color: $form;
    float: right;
  }
  &__btn{
    display: block;
    background-color: #a3bbc8;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
  }
  &__btn--registre{
    display: block;
    background-color: #fff;
    border: 2px solid #a3bbc8;
    font-size: 18px;
    color: #243f4d;
    width: 100%;
    padding: 0 15px;
    height: 50px;
    margin-top: 22px;
  }
  &__label--registre{
    border-top: 2px solid #f6f6f6;
    display: block;
    text-align: center;
    padding-top: 30px
  }
}








































@import 'media';