.support{
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  padding: 40px 120px;
  &__item-content{
    padding: 0 20px;
  }
  &__item{
    display: flex;
  }
  &__item-title{
    margin-bottom: 10px;
  }
  &__item-text{
    width: 250px;
  }
}