<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee.</title>
  <link rel="stylesheet" href="css/product list.min.css">
</head>
<body>
  
{% include 'app/module/_header/_header.html' %}

  <main class="main">
   {% include 'app/module/_top/_top.html' %}
    <section class="product">
      <div class="container">
        <div class="product__inner">
          <div class="product__filters filter">     
            <div class="filter__item filter-category">
              <h3 class="filter__title">
                CATEGORY
              </h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                    <img src="images/icons/arrow-filter.svg" alt="category img">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Table</span>
                    <img src="images/icons/arrow-filter.svg" alt="category img">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                    <img src="images/icons/arrow-filter.svg" alt="category img">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                    <img src="images/icons/arrow-filter.svg" alt="category img">
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                    <img src="images/icons/arrow-filter.svg" alt="category img">
                  </div>
                </label>
              </form>
            </div>
            <div class="filter__item filter-price">
              <h3 class="filter__title">
                Price
              </h3>
              <form class="filter-price__form" action="#">
                <input class="filter-price__input" type="text"
                data-min="0"
                data-max="1000"
                data-from="150"
                data-to="700">
              </form>
            </div>
            <div class="filter__item filter-brand">
              <h3 class="filter__title">
                Brand
              </h3>
              <form class="filter-brand__form" action="#">
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox" checked>
                  <div class="filter-brand__checkbox">
                    <span class="filter-brand__text">RFL</span>
                    <span class="filter-brand__number">(10)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span class="filter-brand__text">Brothers</span>
                    <span class="filter-brand__number">(21)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span class="filter-brand__text">Regal</span>
                    <span class="filter-brand__number">(3)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span class="filter-brand__text">Nadia</span>
                    <span class="filter-brand__number">(14)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span class="filter-brand__text">Otobi</span>
                    <span class="filter-brand__number">(6)</span>
                  </div>
                </label> 
              </form>
            </div>
            <div class="product-recent">
              <h3 class="recent__title filter__title">
                RECENT PRODUCTS
              </h3>
              <div class="product-recent__items">
                <div class="product-recent__item">
                  <img class="product-recent__images" src="images/products/1.png" alt="producr">
                </div>
                <div class="product-recent__new">
                  <h4 class="product-recent__title">
                    Pendant lamp
                  </h4>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="product-recent__price">23$</div>
                </div>
              </div>
              <div class="product-recent__items">
                <div class="product-recent__item">
                  <img class="product-recent__images" src="images/products/2.png" alt="producr">
                </div>
                <div class="product-recent__new">
                  <h4 class="product-recent__title">
                    Pendant lamp
                  </h4>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="product-recent__price">23$</div>
                </div>
              </div>
              <div class="product-recent__items">
                <div class="product-recent__item">
                  <img class="product-recent__images" src="images/products/3.png" alt="producr">
                </div>
                <div class="product-recent__new">
                  <h4 class="product-recent__title">
                    Pendant lamp
                  </h4>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="product-recent__price">23$</div>
                </div>
              </div>
            </div>          
          </div>
          <div class="products-content">
            <!-- <div class="products-content__filter">
              <div class="products-content__filter-button">
                View
                <button class="products-content__filter-btn products-content__filter-btn--active button-grid">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="15" height="15">
                    <style>
                      tspan { white-space:pre }
                      .shp0 { fill: #b3b7b5} 
                    </style>       
                    <path id="grid" class="shp0" d="M0 3.75L3.75 3.75L3.75 0L0 0L0 3.75ZM5.62 15L9.37 15L9.37 11.25L5.62 11.25L5.62 15ZM0 15L3.75 15L3.75 11.25L0 11.25L0 15ZM0 9.37L3.75 9.37L3.75 5.62L0 5.62L0 9.37ZM5.62 9.37L9.37 9.37L9.37 5.62L5.62 5.62L5.62 9.37ZM11.25 0L11.25 3.75L15 3.75L15 0L11.25 0ZM5.62 3.75L9.37 3.75L9.37 0L5.62 0L5.62 3.75ZM11.25 9.37L15 9.37L15 5.62L11.25 5.62L11.25 9.37ZM11.25 15L15 15L15 11.25L11.25 11.25L11.25 15Z" />
                  </svg>
                </button>
                <button class="products-content__filter-btn button-list">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15" width="20" height="15">                         <style>
                    tspan { white-space:pre }
                    .shp0 { fill: #b3b7b5} 
                  </style>
                  <path id="list" class="shp0" d="M0.01 0L4.43 0L4.43 4.17L0.01 4.17L0.01 0ZM5.83 0L19.99 0L19.99 4.17L5.83 4.17L5.83 0ZM0.01 5.41L4.43 5.41L4.43 9.59L0.01 9.59L0.01 5.41ZM5.83 5.41L19.99 5.41L19.99 9.59L5.83 9.59L5.83 5.41ZM0.01 10.83L4.43 10.83L4.43 15L0.01 15L0.01 10.83ZM5.83 10.83L19.99 10.83L19.99 15L5.83 15L5.83 10.83Z" />                      
                </svg>
              </button>
            </div>
          </div> -->
          <div class="product-items">
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon1.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon2.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon4.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon5.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon6.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon2.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon1.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon4.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon3.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon1.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon2.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon3.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
          </div>  
          <div class="pagination">
            <ul class="pagination__list">
              <li class="pagination__item">
                <a class="pagination__link pagination__link--active" href="#">1</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">2</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">3</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link" href="#">Next</a>
              </li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </section>
</main>
<section class="client--new">
  <div class="container">
    <div class="client__logo">
      <a class="client__logo-link" href="#">
        <img class="client__logo-img" src="images/client/1.png" alt="client logo">
      </a>
      <a class="client__logo-link" href="#">
        <img class="client__logo-img" src="images/client/2.png" alt="client logo">
      </a>
      <a class="client__logo-link" href="#">
        <img class="client__logo-img" src="images/client/3.png" alt="client logo">
      </a>
      <a class="client__logo-link" href="#">
        <img class="client__logo-img" src="images/client/4.png" alt="client logo">
      </a>
      <a class="client__logo-link" href="#">
        <img class="client__logo-img" src="images/client/5.png" alt="client logo">
      </a>
    </div>
  </div>
</section>

{%include 'app/module/_footer/_footer.html'%}

<script src="js/main.min.js"></script>
</body>
</html>