<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee.</title>
  <link rel="stylesheet" href="css/product detalis.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %}
  
  <main class="main">
  {% include 'app/module/_top/_top.html' %}
    <div class="top__container">
      <div class="container">
        <h2 class="top__title">Product Detalis</h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list"> 
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Product detalis
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <section class="product-detalis">
      <div class="container">
        <div class="product-one">
          <div class="product-one__inner">
            <div class="product-one__slide product-slide">
              <div class="product-slide__small">
                <div class="product-slide__small-item">
                  <img src="images/products/productd2.png" alt="product foto">
                </div>
                <div class="product-slide__small-item">
                  <img src="images/products/productd3.png" alt="product foto">
                </div>
                <div class="product-slide__small-item">
                  <img src="images/products/productd4.png" alt="product foto">
                </div>
              </div>
              <div class="product-slide__big">
                <div class="product-slide__big-item">
                  <img src="images/products/productd1.png" alt="product foto">
                </div>
                <div class="product-slide__big-item">
                  <img src="images/products/productd1.png" alt="product foto">
                </div>
                <div class="product-slide__big-item">
                  <img src="images/products/productd1.png" alt="product foto">
                </div>
              </div>
            </div>
            <div class="product-one__content">
              <h2 class="product-one__title">
                Pendant lamp
              </h2>
              <div class="product-one__box">
                <div class="product__item-star">
                  <div class="star" data-rateyo-rating="4"></div>
                </div>
                <div class="product-one__price">
                  <div class="product-one__price-new">23$</div>
                </div>
                <p class="product-one__item-text">
                  consectetur adipisicing elit, sed Ado eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                </p>
                <input class="product-one__item-num" type="number" value="1">
                <buttom class="product-one__item-btn" type="submit">
                  Add to cart
                </buttom>
                <div class="product__item-info product-info">
                  <ul class="product-info__list">
                    <li class="product-info__item">SKU: 014</li>
                    <li class="product-info__item">Category: Lights</li>
                    <li class="product-info__item">Tag: Decorative</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product-tabs">
            <a class="product-tabs__reviews-btn" href="#tab1">Description</a>
            <a class="product-tabs__reviews-btn" href="#tab2">Additional information</a>
            <a class="product-tabs__reviews-btn" href="#tab3">Reviews (2)</a>
          </div>
          <p class="product-tabs__reviews-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="product-related">
          <div class="product-related__title">
            <h3 class="title">Related products</h3>
          </div>
          <div class="products products-detalis">
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon1.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon1.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon2.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon3.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div>
            <div class="products__item">
              <div class="products__layer">
                <button class="products__button" type="button">
                  <img src="images/icons/forma1.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma2.svg" alt="button">
                </button>
                <button class="products__button">
                  <img src="images/icons/forma3.svg" alt="button">
                </button>
              </div>
              <div class="products__icon">
                <img class="products__img" src="images/products/icon4.png" alt="product foto">
              </div>
              <div class="products__info">
                <h5 class="products__title">
                  Wooden radio
                </h5>
                <p class="products__price">$29.00</p>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
    
  </main>
  
  
  <section class="blog">
    <div class="container">
      <div class="blog__title">
        <h3 class="title">Our Insights & Articles</h3>
        <a class="subtitle" href="#">View All</a>
      </div>
      <div class="blog__items">
        <div class="blog__item">
          <a class="blog__item-imglink" href="#">
            <img src="images/blog/1.png" alt="blog img">
          </a>
          <a class="blog__item-link" href="#">NEWS</a>
          <div class="blog__item-box">
            <a class="blog__item-titlelink" href="#">
              <h4 class="blog__item-title">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h4>
            </a>
            <div class="blog__item-info">
              <div class="blog__item-autor">28 JANUARY, 2020</div>
              <div class="blog__item-data">BY ADMIN</div>
            </div>
          </div>
        </div>
        <div class="blog__item">
          <a class="blog__item-imglink" href="#">
            <img src="images/blog/2.png" alt="blog img">
          </a>
          <a class="blog__item-link" href="#">NEWS</a>
          <div class="blog__item-box">
            <a class="blog__item-titlelink" href="#">
              <h4 class="blog__item-title">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h4>
            </a>
            <div class="blog__item-info">
              <div class="blog__item-autor">28 JANUARY, 2020</div>
              <div class="blog__item-data">BY ADMIN</div>
            </div>
          </div>
        </div>
        <div class="blog__item">
          <a class="blog__item-imglink" href="#">
            <img src="images/blog/3.png" alt="blog img">
          </a>
          <a class="blog__item-link" href="#">NEWS</a>
          <div class="blog__item-box">
            <a class="blog__item-titlelink" href="#">
              <h4 class="blog__item-title">
                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </h4>
            </a>
            <div class="blog__item-info">
              <div class="blog__item-autor">28 JANUARY, 2020</div>
              <div class="blog__item-data">BY ADMIN</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="client">
    <div class="container">
      <div class="client__logo">
        <a class="client__logo-link" href="#">
          <img class="client__logo-img" src="images/client/1.png" alt="client logo">
        </a>
        <a class="client__logo-link" href="#">
          <img class="client__logo-img" src="images/client/2.png" alt="client logo">
        </a>
        <a class="client__logo-link" href="#">
          <img class="client__logo-img" src="images/client/3.png" alt="client logo">
        </a>
        <a class="client__logo-link" href="#">
          <img class="client__logo-img" src="images/client/4.png" alt="client logo">
        </a>
        <a class="client__logo-link" href="#">
          <img class="client__logo-img" src="images/client/5.png" alt="client logo">
        </a>
      </div>
    </div>
  </section>
  
  {%include 'app/module/_footer/_footer.html'%}
  
  <script src="js/main.min.js"></script>
</body>
</html>