.client{
  background-color: #fef7f0;
  margin-top: -179px;
  z-index: -1;
  padding: 260px 50px 90px;
  &__logo{
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}

@media (max-width: 1150px){
  .client{
    background-color: #fff;
  }
}

@media (max-width: 860px){
  .client{
    padding: 185px 0px 0px;
    &__logo{
      flex-direction: column;
    }
    &__logo-link{
      margin-bottom: 20px;
    }
  }
}