.video-fashion__inner{
  background-color: $bg;
  background-image: url('../images/video-fashion/video.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  &__popup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px;
  } 
}

@media (max-width: 620px){
  .video-fashion__inner{
    height: 250px;
  }
}